.header {
    display: flex;
}

.container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.grid {
    display: grid;
    gap: 5px;
    padding: 0;
    margin: none;
    width: 500px;
    height: 500px;
    background-color: #8cffa0;
  }
  
.grid > div {
    background-color: #8ca0ff;
  }