body {
    background-color: grey;
    display: flex;
    flex: 1;
    justify-content: center;
}

.header {
    font-size: 72px;
    margin-bottom: 100px;
}

.container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.body {
    display: flex;
    gap: 200px;
    
}

.grid {
    display: grid;
    align-self: center;
    padding: 0;
    margin-right: 250px;
    width: 500px;
    height: 500px;
    background-color: white;
}

.grid > .box {
    background-color: white;
}

